@use "sass:math";

/* ===============================================
インナー幅
=============================================== */
$inner: 1100px;

/* ===============================================
余白
=============================================== */
$padding-pc: 25px;
$padding-sp: 20px;

/* ===============================================
フォント
=============================================== */
$base-font: "Noto Sans JP", sans-serif;
$second-font: "Montserrat", sans-serif;

/* ===============================================
フォントウェイト
=============================================== */
$regular: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* ===============================================
色
=============================================== */
$text-color: #333;
$main-color: #df8510;
$white: #fff;

/* ===============================================
ベース
=============================================== */
body {
  font-family: $base-font;
  color: $text-color;
}

body.js-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}